*.mid

# OS
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.spec

# Nuitka outputs
*.build/
*.dist/
*.onefile-build/
*.exe
*.bin

# Logs
*.log
